/**
 * Customize Milligram
 **/

ul, ol, dl {
  list-style: circle;
  margin-left: 1.7em;
}

button {
  margin-bottom: 0;
}

.button-feather-icon {
  padding: 0;
  line-height: inherit;
  height: auto;
  width: auto;
  vertical-align: middle;
  margin-top: -3px;
}